<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NoChanges" version="1.0.0.0" targetFramework="net45" />
  <package id="DeletedInIncomingUpdatedInLocal" version="1.0.0.1" targetFramework="net45" />
  <package id="UpdatedInLocal" version="1.0.0.1" targetFramework="net45" />
  <package id="UpdatedInIncoming" version="1.0.0.2" targetFramework="net45" />
  <package id="UpdatedInBoth.Identical" version="1.0.0.1" targetFramework="net45" />
  <package id="UpdatedInBoth.Different.VersionChangeOnly" version="1.0.0.2" targetFramework="net45" />
  <package id="UpdatedInBoth.Different.OtherChanges" version="1.0.0.2" targetFramework="net45" />
  <package id="Duplicate.Identical" version="1.0.0.0" targetFramework="net45" />
  <package id="Duplicate.Different.VersionChangeOnly" version="1.0.0.1" targetFramework="net45" />
  <package id="Duplicate.Different.OtherChanges" version="1.0.0.2" targetFramework="net45" />
</packages>