<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net46" />
  <package id="NLog" version="4.0.1" targetFramework="net46" />
  <package id="NuGet.CommandLine" version="3.3.0" targetFramework="net46" />
  <package id="NuGet.Configuration" version="1.0.0-pre-20150220022717" targetFramework="net46" />
  <package id="NuGet.Packaging" version="1.0.0-pre-20150220044603" targetFramework="net46" />
  <package id="NuGet.Versioning" version="1.0.7" targetFramework="net46" />
</packages>